aiofiles==0.3.2
aiohttp==3.3.0
argh==0.26.2
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.1.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
blinker==1.4
brotlipy==0.7.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
ConfigArgParse==0.11.0
construct==2.5.3
cryptography==2.2.2
cssutils==1.0.2
dic==1.5.2b1
dill==0.2.7.1
dnspython==1.15.0
EditorConfig==0.12.2
file==0.3.0
Flask==0.11.1
futures==3.1.1
greenlet==0.4.13
h11==0.7.0
h2==3.0.1
hpack==2.3.0
html2text==2016.9.19
hyperframe==5.1.0
idna==2.6
idna-ssl==1.0.1
itsdangerous==0.24
Jinja2==2.10
jsbeautifier==1.6.14
kaitaistruct==0.8
ldap3==2.5
lxml==3.6.0
MarkupSafe==1.0
mitmproxy==4.0.1
multidict==4.3.1
nltk==3.2.5
passlib==1.6.5
pathtools==0.1.2
Pillow==3.4.2
protobuf==3.5.2.post1
pyasn1==0.4.3
pycparser==2.18
PyMySQL==0.8.1
pyOpenSSL==17.5.0
pyparsing==2.1.10
pyperclip==1.6.2
pytz==2018.4
PyYAML==5.4
requests==2.11.1
ruamel.yaml==0.15.37
six==1.10.0
sortedcontainers==1.5.10
tornado==4.4.3
UNKNOWN==0.0.0
urllib3==1.22
urlparse3==1.1
urwid==2.0.1
watchdog==0.8.3
Werkzeug==0.14.1
wsproto==0.11.0
yarl==1.2.4
